  :root{
    --white: #FFFFFF;
    --lightGray: #808080;
    --gray: #505050;
    --darkGray: #202020;
    --black: #000000;
  }

  html {
    -webkit-text-size-adjust: 100%;
    --headerSize: 146px;
    scroll-padding-top: var(--headerSize);
  }
  
  body {
    background-color: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
    padding: 0%;
    margin: 0%;
    display: unset;
  }
  
  #main {
    --bg: var(--white);
  }
  
  h1 {
    font-size: 220%;
    text-align: center;
  }
  
  #header {
    padding: 1.5% 0;
    position: sticky;
    top: 0px;
    background-color: var(--hdrBg);
    color: var(--hdrFontColor);
  }

  #links a {
    padding: .7% 2%;
    color: var(--hdrFontColor);
    text-decoration: none;
    border-radius: 5%;
    border: solid 1px var(--hdrFontColor);
    display: inline-block;
    margin-top: 5px;
  }

  #header img{
    width: 10%;
    position: absolute;
    top: 10px;
    right: 20px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  #header img.opaque{
    opacity: 1;
  }
  .links{
    text-align: center;
  }

  .section {
    padding: 1% 10% 0;
  }

  a{
    color: var(--fontColor);
  }

  a:visited{
    color: var(--fontColor);
  }

  .light-theme{
    --bg: var(--white);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
    --hdrBg: var(--lightGray);
    --hdrFontColor: var(--white);
  }
  
  .dark-theme{
      --bg: var(--black);
      --fontColor: var(--white);
      --btnBg: var(--white);
      --btnFontColor: var(--black);
      --hdrBg: var(--darkGray);
      --hdrFontColor: var(--white);
  }

  .btn{
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 100px;
  }
  
  .btn > input{
    appearance: none;
  }
  
  .bar {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 30%;
    border: solid 5px var(--gray);
    background-color: var(--btnBg);
    color: var(--btnFontColor);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    border-radius: 20%;
    background-color: var(--hdrBg);
    color: var(--hdrFontColor);
    text-align: center;
    line-height: 2.5;
    -webkit-transition: .4s;
    transition-duration: .4s;
    transition: translateX(100%);
  }

  #unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
   }
   
  .clip{
    width: 80%;
  }
